@font-face {
                font-family: "FZDaHei-B02S-Regular"; font-style: normal; src: url('@/assets/fonts/FZDHTJW.TTF'); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "Alibaba PuHuiTi-Regular"; font-style: normal; src: url('@/assets/fonts/阿里巴巴普惠体 R.TTF'); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "FZHei-B01S-Regular"; font-style: normal; src: url('@/assets/fonts/方正黑体简体.ttf'); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "DINCondensedC-Regular"; font-style: normal; src: url('@/assets/fonts/PT DIN Condensed Cyrillic.ttf'); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "Roboto-Regular"; font-style: normal; src: url('@/assets/fonts/Roboto-Regular_1.ttf'); font-weight: 400; font-display: swap
            }
