@font-face {
                font-family: "FZDaHei-B02S-Regular"; font-style: normal; src: url('@/assets/fonts/FZDHTJW.TTF'), local("PingFang SC"), local("Microsoft YaHei"), local("SimHei"); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "Alibaba PuHuiTi-Regular"; font-style: normal; src: local("PingFang SC"), local("Microsoft YaHei"), local("Arial"); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "FZHei-B01S-Regular"; font-style: normal; src: local("PingFang SC"), local("Microsoft YaHei"), local("SimHei"); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "DINCondensedC-Regular"; font-style: normal; src: local("DIN Condensed"), local("Arial Narrow"), local("Arial"); font-weight: 400; font-display: swap
            }
@font-face {
                font-family: "Roboto-Regular"; font-style: normal; src: local("Roboto"), local("Arial"); font-weight: 400; font-display: swap
            }
